---
name: Benchmark for quantum computing framework

on:
  workflow_dispatch:
  push:

env:
  GITHUB_CI: 1
  TERM: xterm

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: show environment
        run: |
          echo "Python version:"
          python3 --version
          echo "cmake version:"
          cmake --version
          if [[ "${GITHUB_CI:-0}" == "1" ]]; then
            echo "GITHUB_CI detected"
          fi
      - name: install packages
        run: bash ./prepare_venv.sh ./tasks/benchmark.toml
      - name: Run Benchmark
        run: |
          cd tasks
          which python3
          python3 generate_run_script.py -c benchmark_ci.toml
          bash run_benchmark.sh
